.formContainer {
  background: #f4f7fb;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  width: 420px;
  margin: 40px auto 0;

  &__body {
    padding: 30px 0;
    margin: 0 auto;

    form {
      margin: 0 auto;
      max-width: 363px;
      display: flex;
      flex-direction: column;
      gap: 27px 0;

      .form__cell {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
      }
      .form__cell__title {
        color: #838c95;
        text-align: start;
        font-size: 12px;
      }
      .form__cell__input {
        border: 1px solid #e3e3e3;
        border-radius: 6px;
        padding: 11px 15px;
        color: #3b4256;
        opacity: 0.9;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        text-align: start;
        margin-top: 5px;
      }
    }
  }
}

.logout {
  display: flex;
  justify-content: center;

  &__btn {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
}
